
html {
  box-sizing: border-box
}

/* The Universal Selector */
/*, /* All elements*/
/*::before, /* All ::before pseudo-elements */
/*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
/* box-sizing: inherit;
}*/

body{
  background-color: #5f0f40;
  font-family: sans-serif;
  margin:0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

h1{
  color: white;
  font-size: 80px;
}

h2{
  font-size: 40px;
  color:white
}

div.invisible-row {
  display:grid;
  grid-template-rows: repeat(1, 8vmin);
  grid-template-columns: repeat(7, 8vmin);
  margin: 0px auto;
  grid-gap: 0vmin;
  border: 3px solid red
}

div.board {
  display: grid;
  grid-template-rows: repeat(6, 8vmin);
  grid-template-columns: repeat(7, 8vmin);
  grid-gap: 0vmin;
  margin: 0px auto;
  border: 10px solid #e36414;
  border-radius: 10%;

}

div.square {
  border: 5px solid #fb8b24;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
}


.btn{
  background-color: #0f4c5c;
  color:white;
  font-size:50px;
  border-radius: 10px;
  
}

