
/*html {
  box-sizing: border-box
}

/* The Universal Selector */
/*, /* All elements*/
/*::before, /* All ::before pseudo-elements */
/*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
/* box-sizing: inherit;
}*/

body{
  background-color: #5f0f40;
  /*font-family:*/
  margin:0;
  height: 100vh;
  /*display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;*/
  
}

h1{
  color: white
}

h2{
  color:white
}

/*section.board {
  display: grid;
  grid-template-columns: 7 ;
  grid-template-rows: 7 ;
  grid-auto-columns: auto;
  grid-auto-rows: auto;
}*/